html
  head
    title Profile Home
    meta(name='description', content='Profile')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
  style.
      body{
      background-image:url(https://res.cloudinary.com/pollie/image/upload/v1610573936/WhiteRock_u6zl0k.png);
      background-size:100%;
      }
    h1.border.center   #{title} Page
    //add your code below, make sure its indented at this level
    h2.center#welcome Welcome, #{username}!
    
    h3 This is where all the cool stuff happens!
    
    a(href='/logout') Logout