body {
  background-image:url(https://res.cloudinary.com/pollie/image/upload/v1606077858/backgroundStocks_qvbkuh.jpg);
  background-color:grey;  
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background-color:red;
}
#welcome {
}
